html {
	height: 100%;
	
}

html * {
	-webkit-backface-visibility: hidden !important;
}

body {	
	background: url('bg.jpg') center center !important;
	background-size: cover !important;
	background-attachment: fixed !important;	
	height:100%;
	font-family: 'Open Sans', 'sans-serif' !important;
	font-weight: 300 !important;
	
}

a, p, h1, h2, h3, label, button, li {
	font-family: 'Open Sans', 'sans-serif' !important;
	font-weight: 300 !important;
}

code, kbd, pre, samp, kbd li {
font-family: Menlo,Monaco,Consolas,"Courier New",monospace !important;
}

.header {
	text-align: center;
	margin-top: 0px;
	border-bottom:1px solid black;
	margin-bottom: 30px;
	box-shadow: 0 1px 20px black;
	background: #428bca;


}

.header h3{
	margin-top: 0px;
	padding-top: 10px;
	padding-bottom: 5px;
	color: white;
	font-weight: 300;
	text-shadow: 1px 1px 2px black;
}

.container{
	background-color: rgba(255,255,255,0.7);
	border:1px solid black;
	padding: 10px 30px 10px 30px;
	margin-bottom: 20px;
	box-shadow: 2px 2px 10px rgb(56, 56, 56);
}

#tab {
	width: 100%;
}

#ricetta {
	list-style: none;
	padding: 0 !important;

}

#ricetta li {
	border: 1px solid #ccc;
	background: #eee;
	font-weight: bold;
	color: #222;
	background-image: -webkit-gradient(linear,left top,left bottom,from( #fff ),to( #f1f1f1 ));
	background-image: -webkit-linear-gradient( #fff,#f1f1f1 );
	background-image: -moz-linear-gradient( #fff,#f1f1f1 );
	background-image: -ms-linear-gradient( #fff,#f1f1f1 );
	background-image: -o-linear-gradient( #fff,#f1f1f1 );
	background-image: linear-gradient( #fff,#f1f1f1 );
	padding: 5px 5px 5px 40px !important;
	cursor: all-scroll;
	font-size: 16px;
}

#ricetta li:nth-child(odd) {
	background: #eee;
}

#ricetta li:nth-child(odd) {
	background: #E9E9E9;
}

#ricetta li.fase {
	cursor: all-scroll;
	background-color: #dff0d8 !important;
	background-image: none !important;
	padding: 5px 5px 5px 20px !important;
	margin: 0 !important;
	font-size: 18px;
	font-weight: 400 !important;
}

#ricetta li.fase .glyphicon, #ricetta li .glyphicon{
	font-size: 18px;
	text-shadow: 0 1px 0 black;
}

.separatore {
	width: 90%;
	margin: auto;
	height: 1px;
	background-color: grey;
	margin-top:20px;
	margin-bottom:20px;
}

#totale p{
	text-align: center;
	font-weight: 600 !important;
}

#output {
	list-style: none;
	margin-top: 30px;
}


#info {
	position: absolute;
	right: 10px;
	top: 5px;
	border:none !important;

}

#info .btn {
	border:none !important;
}
#info .glyphicon{
	font-size: 20px !important;
	color: white;
	background: none !important;
}

#info .glyphicon:hover{
	color: rgb(223, 223, 223);
}

.dropdown-menu {
	min-width: 400px !important;
}


strong a{
	font-weight: 600 !important;
}

.twitter-typeahead {
	display: block !important;
}
.typeahead,
.tt-query,
.tt-hint {
  width: 100%;
  
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}


.tt-hint {
  color: #999
}

.tt-dropdown-menu {
max-height: 250px;
  overflow-y: auto;
  width: 100%;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}

.info_convertitore p, #form_convert p {
	font-weight: 400 !important;
}

