html {
	height: 100%;
	
}

html * {
	-webkit-backface-visibility: hidden !important;
}

body {	
	background-color: #e7e7e7;	
	height:100%;
	font-weight: 400;
	
}

a, p, h1, h2, h3, label, button, li {
	font-weight: 400;
}

code, kbd, pre, samp, kbd li {
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace !important;
}

p {
	font-size: 14px;
}



.nome {
	word-break: break-all;
}


.header {
	text-align: center;
	border-bottom:1px solid black;
	background-color: #1abc9c;
	border-color: #169f84;
	margin-bottom: 20px;

}

.header h3{
	margin-top: 0;
	margin-bottom: 10px;
	padding-top: 10px;
	color: white;
	font-size: 26px;
}

.container{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	background-color: whitesmoke;	
	padding: 10px 30px 10px 30px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-bottom: 5px solid transparent;
	border-bottom-color: #bdc3c7;
	border-left-color: #dfe2e4;
	border-right-color: #dfe2e4;
	border-top-color: #dfe2e4;
}

.settore_transp {
	border: 1px solid transparent;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 0px;
	margin-bottom: 0px;
}

#avanzate button {
	font-size: 13px;
	margin: 5px;
}

#avanzate p {
	line-height: 20px;
}


.controller {
	border-radius: 10px;
	background-color: whitesmoke;
	color: white;
	text-align: center;
}

.controller_load {
	background-color: #16A085;
	padding: 10px 0 10px 0;	
}
.controller_load p {
	font-weight: 200;
	margin: 0;
	line-height: 25px;
}

.ico_controller {
	width: 30px;
	opacity: 0.3;
	margin-bottom: 10px;
}

.ico_controller_small {
	width: 22px;
}

.icona {
	width: 16px;
	margin-right: 5px;
}

.icona_big {
	width: 25px;
	margin-right: 5px;
}

#add_ingrediente, #add_fase, #add_testo, #add_riga {
	padding: 7px;

}

#add_fase:hover, #add_testo:hover, #add_riga:hover {
	background-color: #48c9b0;
	border-color: #48c9b0;
}

#add_testo {
	background-color: #16A085;
}
#add_riga {
	background-color: #136B5A;
}


#tab {
	width: 100%;
}


.has-switch span.switch-left {
	color: white;
	background-color: #65AAA4;
}


#ricetta {
	list-style: none;
	padding: 0 !important;

}

#ricetta li {
	border: 1px solid #ccc;
	font-weight: 400;
	color: #34495e;
	background-color: rgb(248, 248, 248);
	padding: 5px 5px 5px 40px !important;
	cursor: all-scroll;
	font-size: 16px;
	border-radius: 5px;
	margin-bottom: -1px;
}

#ricetta li:nth-child(even) {
	
}

#ricetta li:nth-child(odd) {
	
}

#ricetta li.fase {
	cursor: all-scroll;
	background-color: #D3D3D3;
	padding: 5px 5px 5px 20px !important;
	font-size: 18px;
	font-weight: 400 !important;
}

#ricetta li.fase .glyphicon, #ricetta li .glyphicon{
	font-size: 20px;
	opacity: 0.8;
}


.separatore {
	width: 90%;
	margin: auto;
	height: 1px;
	background-color: grey;
	margin-top:20px;
	margin-bottom:20px;
}

#totale p{
	text-align: center;
	font-weight: 400;
}

#output {
	list-style: none;
	margin-top: 30px;
}


#info {
	position: absolute;
	right: 10px;
	top: 5px;
	border:none !important;

}

#info .btn {
	border:none !important;
}
#info .glyphicon{
	font-size: 20px !important;
	color: white;
	background: none !important;
	margin: 0;
	padding: 0;
}

#info .glyphicon:hover{
	color: rgb(223, 223, 223);
}

.panel-primary {
	border-color: #1B806C;
}

.panel-primary > .panel-heading {
	background-color: #16A085;
	border-color: #1B806C;
}





.dropdown-menu {
	min-width: 400px !important;
}


strong a{
	font-weight: 600 !important;
}

.twitter-typeahead {
	display: block !important;
}
.typeahead,
.tt-query,
.tt-hint {
  width: 100%;
  
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}


.tt-hint {
  color: #999
}

.tt-dropdown-menu {
max-height: 250px;
  overflow-y: auto;
  width: 100%;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
  color: #34495e;
}

.gist {
  font-size: 14px;
}

.info_convertitore p, #form_convert p {
	font-weight: 400 !important;
}

#inci li {
	list-style: none;
	display: inline;
}

.lipide {
	font-weight: 400 !important;
	margin-right: 10px !important;
}

.lipide_caption {
	font-size: 10px !important;
	margin-right: 5px;
	line-height: 22px;
}

#grassi {
	font-weight: 600 !important;
	text-align: center;
	text-decoration: underline;
}

#info_canvas {
	font-size: 10px !important;
	text-decoration: underline;
	text-align: center;
	margin-bottom: 50px;
	color: rgb(184, 22, 22);

}

 #elenco_oli_considerati {
 	font-size: 14px !important;
	text-align: center;
	margin-bottom: 20px;
 }

#canvas {
	margin-bottom: 20px;
}


kbd {
	background-color: transparent;
	padding: 0px;
}

.well {
	background-color: #95A5A6;
}



#totale_kbd {
	color: white;
}


th {
	font-weight: 200;
}


button {
	font-weight: 200 !important;
}


::-webkit-input-placeholder { font-size: 12px; }
::-moz-placeholder { font-size: 12px; } /* firefox 19+ */
:-ms-input-placeholder { font-size: 12px; } /* ie */
input:-moz-placeholder { font-size: 12px; }